.hero .left {
  background-image: url("/heroImg.png");
  background-size: cover;
  background-position: -700px center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 50%;
}

@media screen and (max-width: 768px) {
  .hero .left {
    background-position: center center;
  }
}

.hero .right {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .hero .right {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 768px) {
  .hero .left,
  .hero .right {
    width: 100%;
  }
}
